pip
bump2version
wheel
watchdog
flake8
tox
coverage
Sphinx
twine
grip
autopep8
Click
colorama
termcolor
python-dotenv
tweepy==3.9.0
geoalchemy2==0.8.4
sqlalchemy==1.4.23
sqlalchemy_utils==0.37.8
pycountry==20.7.3
nltk==3.5
spacy==3.1.2
pymorphy2==0.8
pymorphy2-dicts
descartes==1.1.0
tika==1.24
wordcloud==1.8.1
pandas==1.1.3
psycopg2-binary